<div>

  <input
    type="text"
    class="form-control"
    placeholder="Title..."
    [(ngModel)]="title"
    #titleInput
  >
  <input
    type="text"
    class="form-control"
    placeholder="Text..."
    [(ngModel)]="text"
  >

  <button class="btn" (click)="addPost()">Dobavit Post</button>
  <button class="btn" (click)="focusTitle()">Focus Title</button>

</div>
