<div class="container">
  <h1>Angular Components</h1>
  <h2> Sub Header</h2>

  <app-post-form
  (onAdd)="updatePost($event)"
  >

  </app-post-form>
  <hr />
  <app-post *ngFor="let p of posts"
            [post]="p"
            (onRemove)="removePost($event)"
  >

    <div #info>
    <small *ngIf="p.text.length > 10; else short">Пост длинный</small>
    <ng-template #short>
      <small>пост короткий</small>
    </ng-template>
    </div>

  </app-post>
</div>


